#local localhost
port 56705
proto udp
dev tap
server 172.17.235.0 255.255.255.0
client-to-client
keepalive 10 180
cipher AES-256-CBC
auth SHA1
ca /home/myuser/serverdir/easy-rsa/keys/ca.crt
cert /home/myuser/serverdir/easy-rsa/keys/server.crt
key /home/myuser/serverdir/easy-rsa/keys/server.key
dh /home/myuser/serverdir/easy-rsa/keys/dh2048.pem
client-config-dir /home/myuser/serverdir/ccd
comp-lzo
verb 3
